# 리스트

In [ ]:
# 시퀀스형 자료형

a = 'hello world'
a[0]
a[:5]

'hello'

In [ ]:
range(10)[3]

3

In [ ]:
range(100, 1000, 10)[3]

130

In [ ]:
list(range(10, 20, 2))

[10, 12, 14, 16, 18]

In [ ]:
a, b, c = range(3)
a, b ,c

(0, 1, 2)

In [ ]:
for i, j in [[10, 20], [30, 40]]:
    print('i =', i,'j =', j)

i = 10 j = 20
i = 30 j = 40

In [ ]:
range(100)[::5]

range(0, 100, 5)

In [ ]:
range(10)[3:]

range(3, 10)

In [ ]:
enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)
# enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)[2] # 안됨

TypeError: ignored

In [ ]:
b'world'

b'world'

In [ ]:
b = b'world' # 유니코드표 X, 아스키코드표에서 찾습니다!
b[0]

In [ ]:
# b'' # 바이트
# f'' # f-string 용법
# r'' # raw값 출력

In [ ]:
# 리스트 덧셈과 곱셈
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
x = [1]
print(x * 3) # 출력: [1, 1, 1]

[1, 1, 1]

In [ ]:
a = [1, 2, 3, 4, 5]
# a = a * 3
a = [a * 2] * 2  # 리스트 컴프리헨션 사용해서 만드는 것을 권장한다.

# print(a * 3)
# id(2), id(7)

print(a)
id(a[0]),id(a[1])
a[0][0] = 10000
a

[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

[[10000, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5],
 [10000, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[:])     # 출력: [1, 2, 3, 4, 5]
print(l[::-1])  # 출력: [5, 4, 3, 2, 1]
print(l[::2])   # 출력: [1, 3, 5]

In [ ]:
l = [1, 2, 3, 4, 5]
print(type(l))
print(dir(l))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
[1, 2, 3] + [1, 2, 3] = [1, 2, 3, 1, 2, 3]
# [2, 4, 6] 요소마다 더해지는 것이 아니다 그런데 이러한 코드는 __add__에 구현되어 있는 것이다
# __add__에 요소마다 더하는 것이 구현되어 있었다면 [2, 4, 6]이 출력되었을 겁니다
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지말고 __add__에 구현되어있기에 구현되는 기능이라고 생각하자

In [ ]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l

array([2, 4, 6])

In [ ]:
# 문제 : 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다 data[1]로 접근하는 것은 안됩니다
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 3]]

list(filter(lambda x: x[1]==1, data))[0][0].split(' ')[-1]

'licat'

In [ ]:
# 문제 : 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다 data[1]로 접근하는 것은 안됩니다
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 3]]

s = sorted(data, key=lambda x:x[1])[0][0]
s[s.find('licat'):]

'licat'

# 0912 연습문제

In [ ]:
# 문제1: 다음 함수 is_palindrome를 완성하시오. 이 함수는 하나의 문자열을 인자로 받아,
# 해당 문자열이 팰린드롬(앞으로 읽으나 뒤로 읽으나 같은 단어나 구)이면 True를, 아니면 False를 반환해야 합니다.
def is_palindrome(s):
    def reversed_str(s):
        if len(s) <= 1:
            return s
        x = reversed_str(s[1:]) + s[0]
        return x
    result = reversed_str(s)

    def comp(s, result):
        if s == result :
            return True
        else :
            return False
    return comp(s, result)
print(is_palindrome("level"))  # 결과: True
print(is_palindrome("python")) # 결과: False

True
False

In [ ]:
def is_palindrome(word):
    if len(word) < 2:
        return True
    if word[0] != word[-1]:
        return False
    return is_palindrome(word[1:-1])

print(is_palindrome("level"))  # 결과: True
print(is_palindrome("python")) # 결과: False

True
False

In [ ]:
# 문제2: 리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(filter(lambda x: x%2 == 1, numbers))
print(numbers)  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

# 리스트(이어서)

In [ ]:
z = [
		1,
		'apple',
		2.5,
		['a', 'b'],
		(1, 2),
]
print(z[0])

1

In [ ]:
a = [1, 2, 3, 4, 5]
a[0] = 10000
print(a)

[10000, 2, 3, 4, 5]

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지 않으셨으면 좋겠습니다.

array([2, 4, 6])

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

1
4
5
3

In [ ]:
print(l[-3:])   # -3이 양의 인덱스로 바뀐다고 보고 거기서 부터 끝까지

[3, 4, 5]

In [ ]:
sum([1, 2, 3, 4])

10

In [ ]:
# sum(list(range(101)))와 슬라이싱을 사용해 아래 문제를 풀어주세요

# 문제 1 : 짝수를 모두 더해주세요
a = list(range(101))
sum(a[2::2])

2550

In [ ]:
# sum(list(range(101)))과 슬라이싱을 사용해 아래 문제를 풀어주세요.

# 문제 1: 짝수를 모두 더해주세요.
# print(sum(list(range(101)[::2])))
a = list(range(101))
print(sum(a[::2]))
# 문제 2: 3의 배수와 5의 배수를 모두 더해주세요.
# print(sum(list(range(101)[::3])) + sum(list(range(101)[::5])) - sum(list(range(101)[::15])))

print(sum(a[::3]) + sum(a[::5]) - sum(a[::15]))
# (슬라이싱 2개 사용) 난이도가 있는 보너스 문제: 1부터 90까지의 짝수를 모두 더해주세요.
print(sum(list(range(101))[0:91][::2]))

2550
2418
2070

In [ ]:
# 문제 2 : 3의 배수와 5의 배수를 모두 더해주세요
a = list(range(101))
print(sum(a[::3]) + sum(a[::5]) - sum(a[::15]))

2418

In [ ]:
l = [1, 2, 3]
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 'append',
#  'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort'

In [ ]:
#append
l = [1, 2, 3]
l.append(100)
l

[1, 2, 3, 100]

In [ ]:
#clear
l = [1, 2, 3]
l.clear()
l

[]

In [ ]:
# copy
l = [10, 20, 30]
ll = l.copy()
l[0] = 1000
print(id(ll), id(l))
l, ll
# 같은 코드
# l = [10, 20, 30]
# ll = l[:]
# l[0] = 1000
# id(ll), id(l)
# l, ll

133572192032768 133570942665984

([1000, 20, 30], [10, 20, 30])

In [ ]:
# 이정도는 알아야 우리에게 충분하다
a = [10, 20]
b = [100, 200]

l = [a, b]
ll = l.copy()
l[0][0] = 1000
print(l, ll)
print(id(l), id(ll))
print(id(l[0]), id(ll[0]))
print(id(l[1]), id(ll[1]))

[[1000, 20], [100, 200]] [[1000, 20], [100, 200]]
140602966147904 140602964358208
140603120089344 140603120089344
140602994696064 140602994696064

In [ ]:
import copy


a = [10, 20]
b = [100, 200]

l = [a, b]
ll = copy.deepcopy(l)


l[0][0] = 100000
# a[1] = 9999
print(l)
print(ll)
print(id(l), id(ll))
print(id(l[0]), id(ll[0]))
print(id(l[1]), id(ll[1]))

[[100000, 20], [100, 200]]
[[10, 20], [100, 200]]
133904427179392 133904427180416
133904427054016 133904427172416
133904426894912 133904426902656

In [ ]:
# count
[1, 1, 1, 3, 3, 5, 6].count(1)

3

In [ ]:
list('1113356').count('1')  # 안에 있는 자료형에 맞춰서 카운팅을 해야한다

3

In [ ]:
# extend()
l = [10, 20, 30]
# l.append([10, 20]) # 출력 : [10, 20, 30, [10, 20]]
l.extend([10, 20])
l

[10, 20, 30, 10, 20]

In [ ]:
l = [10, 20, 30]
l.extend('hello')  # 출력 : [10, 20, 30, 'h', 'e', 'l', 'l', 'o']
l.extend(['hello'])
l

[10, 20, 30, 'h', 'e', 'l', 'l', 'o', 'hello']

In [ ]:
# 한 자리씩 잘라서 넣는다고 할 때, 예를 들어 자릿수 모두 더하는 문제
userinput = input('숫자를 입력하세요:')
l = [10, 20, 30]
l.extend(map(int, userinput))
l

숫자를 입력하세요:99

[10, 20, 30, 9, 9]

In [ ]:
# 한 자리씩 잘라서 넣는다고 할 때
l = [10, 20, 30]
l.extend(map(int, input('숫자를 입력하세요:')))
l

In [ ]:
l = [10, 20, 30, 40, 50]
l.index(50)
# l.find(60) # error find 메서드가 없다.

4

In [ ]:
# insert
l = [10, 20, 30, 40, 50]
l.insert(2, 24)
print(l) # 출력 : [10, 20, 24, 30, 40, 50]

[10, 20, 24, 30, 40, 50]

# 연습문제

In [ ]:
# [10, 20, 40, 50, 30]와 같은 리스트에서 20과 30 중간에 25라는 값을 삽입하고 싶습니다.
# 현재 리스트를 정렬하고 20과 30에 값을 인덱스 메서드로 찾아 insert로 중간에 값을 삽입해주세요


l = sorted([10, 20 , 40, 50, 30])
l.index(20), l.index(30)
l.insert(2, 25)
l
# l = sorted([10, 20 , 40, 50, 30])
# l.insert(s.index(30), 25)

# l = sorted([10, 20 , 40, 50, 30])
# l.append(25)
# sorted(l)
# sorted(l.append(25)) # error : l.append(25)의 값이 none이기떄문
# sorted([10, 20, 40, 50, 30].append(25)) # error
# print(s.append(100))의 값이 None이기 때문에 그렇습니다.

[10, 20, 25, 30, 40, 50]

In [ ]:
# pop() 마지막에서 빼는 것
l = [10, 20, 30]
print(l.pop())
print(l)

30
[10, 20]

In [ ]:
# 중요 많이 사용! pop() 처음에서 빼는 것
l = [10, 20, 30]
print(l.pop(0))
print(l)

10
[20, 30]

In [ ]:
# pop()
l = [10, 20, 30]
result = l.pop(0)
print(l, result)

[20, 30] 10

In [ ]:
l = [1, 2, 3, 4, 5]
while l:
    print(l.pop())

5
4
3
2
1

In [ ]:
l = [1, 2, 3, 4, 5]
while l:
    print(l.pop(0))

1
2
3
4
5

In [ ]:
# remove

a = [1, 2, 3, 1, 2, 2, 2, 1, 1]
a.remove(2)
print(a) # 출력: [1, 3, 1, 2, 2, 2, 1, 1]

[1, 3, 1, 2, 2, 2, 1, 1]

In [ ]:
# remove(보다는 filter)

a = [1, 2, 3, 1, 2, 2, 2, 1, 1]
list(filter(lambda x: x!=2, a))

[1, 3, 1, 1, 1]

In [ ]:
a = [1, 2, 3, 1, 2, 2, 2, 1, 1]
while a.count(2):
    a.remove(2)
a

[1, 3, 1, 1, 1]

In [ ]:
# reverse 와 reversed 차이, sort와 sorted의 차이
# 원본 수정이 아니냐, 원본수정이냐?의 차이
l = [1, 2, 3, 10, 4]
# print(list(reversed(l))) # 원본은 그대로
print(l.reverse())    # l.reverse의 출력 값은 None
print(l)              # 원본 l이 수정되어 [4, 10, 3, 2, 1]로 출력된다

None
[4, 10, 3, 2, 1]

In [ ]:
l = [1, 2, 3, 10, 4]
print(list(sorted(l))) # 출력: [1, 2, 3, 4, 10], 원본 수정 x
print(l) # 출력: [1, 2, 3, 10, 4]

[1, 2, 3, 4, 10]
[1, 2, 3, 10, 4]

In [ ]:
l = [1, 2, 3, 10, 4]
print(l.sort())   # 출력:None  , 원본 수정 o
print(l)        #출력 : [1, 2, 3, 4, 10]

None
[1, 2, 3, 4, 10]

In [ ]:
# 게시판 = [게시물1, 게시물2, 게시물3, 게시물4]
# 게시물1: 오래된 게시물이 저장되어 있을 겁니다(append로 게시물 추가했다고 생각)
# 그러면 그냥 게시판을 출력했을 때 최상단에 노출되는 게시물은 가장 오래된 게시물일겁니다
# 컴퓨터 입장에서
# 게시판.reverse()해서 출력(최신 게시물이 상단에 오도록)
# 이러면 원본을 수정했기때문에 게시물1 다음에 게시물5가 생긴다
# 게시판[::-1], reversed(게시판)을 사용해서 역순으로 만들었어야했다.
# 보이는화면 = 게시판[::-1] : 원본수정x
# 보이는화면 = reversed(게시판) : 원본수정x

# 튜플

In [ ]:
# 튜플은 안에 있는 값이 변경 불가능한 자료형이 아닙니다
# 튜플은 참조 불편입니다
# 리스트에 비해서 튜플이 처리 속도가 살짝 빠르다

x = (1, 2, 3)
# x[0] = 1000 error

TypeError: ignored

In [ ]:
x = [10, 20, 30]
y = (1, 2, x)
x[0] = 1000
y # 출력: (1, 2, [1000, 20, 30])

(1, 2, [1000, 20, 30])

In [ ]:
# 데이터의 변경이 민감한 곳
# 참조의 갯수가 변하면 안되는 곳 -> 딕셔너리 같은 곳
s = {'one': 1, 'two': 2}
s.items()

dict_items([('one', 1), ('two', 2)])

In [ ]:
t = (1, 1, 1, 2, 3, 4)
t.count(1)

3

In [ ]:
t.index(3)

4

# 딕셔너리

In [ ]:
# 파이썬 3.6 버전부터 삽입 순서가 보장
# colab, colab에서 불과 1~2년 전만 하더라도 print로 출력한 것은 정렬 출력,
# 맨 마지막 출력은 정렬하지않고 출력했다

In [ ]:

{'bb': 100, 'hello':10, 'world':20, 'aa': 30}

{'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}

In [ ]:
d = dict([('one' , '하나'), ('two', '둘')])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

In [ ]:
d = dict([['one' , '하나'], ['two', '둘']])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{'one': '하나', 'two': '둘'}

In [ ]:
d = dict([['aa'],['bb']])
print(d)  # error

ValueError: ignored

In [ ]:
d = dict(name='licat', age=10)
print(d)  # 출력: {'name': 'licat', 'age': 10}

{'name': 'licat', 'age': 10}

In [ ]:
complex_dict = {
    "numbers": [1, 2, 3],
    42: "answer",
    ("x", "y"): [10, 20],
    True: [100,200]
}
print(complex_dict["numbers"])  # 출력: [1, 2, 3]
print(complex_dict[42])         # 출력: answer
print(complex_dict[("x", "y")]) # 출력: [10, 20]
print(complex_dict[True])       # 출력: [100, 200]

[1, 2, 3]
answer
[10, 20]
[100, 200]

In [ ]:
person = {'name': 'licat', 'city': 'Jeju'}
person['name'] = 'mura'
person['city'] = 'Seoul'

print(person)

{'name': 'mura', 'city': 'Seoul'}

In [ ]:
person['age'] = 10
print(person)

{'name': 'mura', 'city': 'Seoul', 'age': 10}

In [ ]:
keys = ["name", "city", "job"]
values = ["licat", "Jeju", "Developer"]

new_dict = dict(zip(keys, values))
print(new_dict)

{'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

In [ ]:
hero = {'name': 'licat', 'age': 10}
dir(hero)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#  'clear',
#  'copy',
#  'fromkeys',
#  'get',
#  'items',
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'values'

{'name': 'licat', 'age': 10} {'name': 'mura', 'age': 10}

In [ ]:
# copy

hero = {'name': 'licat', 'age': 10}
hero2 = hero.copy()

hero2['name'] = 'mura'

print(hero, hero2)

In [ ]:
# items

hero = {'name': 'licat', 'age': 10}
print(hero.items())
# hero2.items()[] error
# list(hero2.items())[0] 이거는 가능 출력:('name', 'mura')
type(hero.items())

dict_items

In [ ]:
# keys

hero = {'name': 'licat', 'age': 10}
print(hero.keys())
type(hero.keys())

# 이렇게 많이 사용합니다
for i in hero.keys():
    print(i)

dict_keys(['name', 'age'])
name
age

In [ ]:
# values

hero = {'name': 'licat', 'age': 10}
print(hero.values())
type(hero.values())

dict_values(['licat', 10])

dict_values

In [ ]:
hero = {'name': 'licat', 'age': 10}

# 'licat' in hero  # 출력: False 안됨
# 'name' in hero #출력 : True , 키 값을 찾는 것만 됩니다

In [ ]:
'licat' in hero.values()
'mura' in hero.values()

False

In [ ]:
# fromkeys
keys = ['name', 'city', 'job']
value = ['licat', 'Jeju', 'Developer']
print(dict.fromkeys(keys, values))

{'name': ['licat', 'Jeju', 'Developer'], 'city': ['licat', 'Jeju', 'Developer'], 'job': ['licat', 'Jeju', 'Developer']}

In [ ]:
# fromkeys
keys = ['name', 'city', 'job']
value = None
print(dict.fromkeys(keys, values))

{'name': None, 'city': None, 'job': None}

In [ ]:
# get(key, )
d = {'name': 'licat', 'city': 'Jeju'}
d['name']
d.get('name') # 기억하세요

'licat'

In [ ]:
d = {'name': 'licat', 'city': 'Jeju'}
# d['age'] # error 이거 꼭 기억하세요 서비스 멈춥니다!
# d.get('age', None)
d.get('age', '값 없음!')

'값 없음!'

In [ ]:
# 위험한 코드!
def 요일변경(w):
    return {
        '월': '월요일',
        '화': '화요일',
        '수': '수요일',
        '목': '목요일',
        '금': '금요일',
        '토': '토요일',
        '일': '일요일',
    }[w]

요일변경(3)
# 요일변경(8) # 서비스 멈춥니다! error

'수요일'

In [ ]:
# 위의 코드는 아래같이 변경
def 요일변경(w):
    return {
        '월': '월요일',
        '화': '화요일',
        '수': '수요일',
        '목': '목요일',
        '금': '금요일',
        '토': '토요일',
        '일': '일요일',
    }.get(w, '') # 기본이 None입니다.

print(요일변경('월'))
print(요일변경('불'))

월요일

In [ ]:
# pop

numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop('one')
numbers

{'two': '둘', 'three': '셋'}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop() # error
numbers

TypeError: ignored

In [ ]:
# popitem
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
item = numbers.popitem()
print(item)
print(numbers)

('three', '셋')
{'one': '하나', 'two': '둘'}

In [ ]:
# setdefault()

numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("four", "넷")
print(four_value)
print(numbers)

넷
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("three", "삼") # 삼이 반영되지 않습니다
print(four_value)
print(numbers)

셋
{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
# update()

numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'three': '3', 'four': '4'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '3', 'four': '4'}

# 연습문제

In [ ]:
국영수 = {'국어': 97, '수학': 90, '영어':38}
# 문제1: 다음 국영수 dict에 점수에 평균을 구하시오
print('평균:',sum(국영수.values())/len(국영수))

# 문제2 : {'사회': 70, '과학': 85}가 추가되었습니다 dict에 평균을 구하는 코드를 작성하세요
국영수 = {'국어': 97, '수학': 90, '영어':38}
print(type(국영수))
사회 = 국영수.setdefault('사회', 70)
과학 = 국영수.setdefault('과학', 85)
print('평균', sum(국영수.values())/len(국영수))
# 문제3 : 영어와 수학점수가 각각 10점씩 올랐습니다 10점 추가해주세요
# 국영수['영어'] += 10
# 국영수['수학'] += 10
국영수.update({'영어':국영수.get('영어', 0) + 10})
국영수.update({'수학':국영수.get('수학', 0) + 10})
print(국영수)

#문제4 : 최종 점수에서 가장 높은 점수를 출력하는 코드 작성
max(국영수.values())
#문제5 : 가장 높은 점수의 과목
# max(국영수.items(), key = lambda x: x[1])[0] # 김강토님 코드
# list(국영수.keys())[list(국영수.values()).index(max(국영수.values()))] # 병헌님 코드
# values = list(국영수.values())
# list(국영수.keys())[values.index(max(values))] # 병헌님 코드 수정

# list(국영수.keys())[list(국영수.values()).index(sorted(list(국영수.values()))[-1])]  # 찬양님 코드
# list(sorted(국영수.items(), key=lambda x:x[1], reverse=True))[0][0]  # 찬양님 코드 수정
max(국영수,key=국영수.get)  # 찬양님 코드 수정

평균: 75.0
<class 'dict'>
평균 76.0
{'국어': 97, '수학': 100, '영어': 48, '사회': 70, '과학': 85}

'수학'

In [ ]:
# 문제2 : {'사회': 70, '과학': 85}가 추가되었습니다 dict에 평균을 구하는 코드를 작성하세요
국영수 = {'국어': 97, '수학': 90, '영어':38}
사회 = 국영수.setdefault('사회', 70)
과학 = 국영수.setdefault('과학', 85)
print('평균', sum(국영수.values())/5)
print(국영수)

평균 76.0
{'국어': 97, '수학': 90, '영어': 38, '사회': 70, '과학': 85}

In [ ]:
# 여러개의 딕셔너리를 왔다갔다 하면서 key 값으로 value값을 비교할 때에도 사용한다
local = {'제주': 100, '서울': 977, '부산': 500}
강우량 = {'제주': 100, '서울': 97, '부산': 50}
max(강우량, key=local.get)   # max(강우량, key=local.get('keys'))

'서울'

In [ ]:
d = {'a': 10, 'b':9, 'c': 5, 'd': 6}
max(d)  # 유니코드 값이 가장 큰 key값을 출력

'd'

In [ ]:
d = {'a': 10, 'bb':9, 'c': 5, 'd': 6}
max(d, key=len)  # 길이가 가장 긴 key값을 출력

'bb'

In [ ]:
d = {'a': 10, 'b':9, 'c': 5, 'd': 6}
max(d, key=d.get)  # d.get에서 반환된 가장 큰 값의 key값을 출력

<class 'dict'>

# 얕은 복사와 깊은 복사

In [ ]:
l = [1, 2, 3]
ll = l.copy()
l

In [ ]:
import copy

a = [1,2]
b = [3,4]

aa = [10, 20, a]
bb = [30, 40, b]

aaa = [100, 200, aa]
bbb = [300, 400, bb]

l = [aaa, bbb]
ll = copy.deepcopy(l) # 깊은 복사

a[0] = 99
print(l)
print(ll)

[[100, 200, [10, 20, [99, 2]]], [300, 400, [30, 40, [3, 4]]]]
[[100, 200, [10, 20, [1, 2]]], [300, 400, [30, 40, [3, 4]]]]

In [ ]:

l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
ll[0][0] = 1000
print(l)
print(ll)

[[1000, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]

In [ ]:
# 리스트 컴프리헨션으로 깊은 복사 구현(완전하진 않습니다.)
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
ll[0][0] = 1000
print(l)
print(ll)

[[1, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]

In [ ]:
# 위와 같은 방식으로 했을 때 완전하지 않은 코드
a = [9, 99]

l = [[1, 2, a], [4, 5, 6]]
ll = [i[:] for i in l]
a[0] = 1000
print(l)
print(ll)

[[1, 2, [1000, 99]], [4, 5, 6]]
[[1, 2, [1000, 99]], [4, 5, 6]]

In [ ]:
# 종훈님 Q&A

a = [1, 2, 3]
b = [4, 5, 6]

l = [a, b]
ll = [a, b]
lll = [[1, 2, 3],[4, 5, 6]]


print(id(l), id(ll))
print(id(l[0]), id(ll[0]))
print(id(l[0]), id(lll[0]))  # 리스트인 경우는 id주소값이 다르다

140602963478848 140602963524736
140602963480128 140602963480128
140602963480128 140602963487360

In [ ]:
a = [9999, 9999, 9999]
b = copy.deepcopy(a)
c = copy.deepcopy(b)
print(a, b, c)

print(id(a[0]), id(b[0]), id(c[0]))

[9999, 9999, 9999] [9999, 9999, 9999] [9999, 9999, 9999]
140602964957136 140602964957136 140602964957136

In [ ]:
c = [9999, 9999, 9999]
id(c[0]), id(c[1]), id(c[2])
c[0] is c[1]

True

In [ ]:
test = [9999, 9998, 9999]
id(test[0]), id(test[1]), id(test[2])
#같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장(메모리 효율을 위해)

<class 'tuple'>

(133905404585808, 133905404586672, 133905404585808)

In [ ]:
test = (9999, 9998, 9999)
id(test[0]), id(test[1]), id(test[2])
#같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

(140602964957520, 140602964966512, 140602964957520)

In [ ]:
test = {'one':9999, 'two':9998, 'three':9999}
id(test['one']), id(test['two']), id(test['three'])
#같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

(140602964964400, 140602964964432, 140602964964400)

# set(집합)

In [ ]:
# 1. 중복이 되지 않습니다
# 2. 순서가 없습니다.
# 3. 교집합, 차집합, 합집합 등이 가능합니다.

In [ ]:
set('hello')
s = {'licat','mura','binky','licat','licat','licat','licat','licat','licat',}# 게시물에 글 쓴사람
len(s)

3

In [ ]:
# 주의
t = {}  # 딕셔너리
print(type(t))
t = ()  # 튜플
print(type(t))
t = (0) # int
print(type(t))
t = (0,)# 튜플
print(type(t))
t = {0} # set
print(type(t))
# t = tuple()
# print(type(t))

SyntaxError: ignored

In [ ]:
# 합집합
s = {1, 1, 1, 4, 4, 4, 2, 3}
ss = {4, 5, 6}

s | ss

{1, 2, 3, 4, 5, 6}

In [ ]:
# 교집합
s = {1, 1, 1, 4, 4, 4, 2, 3}
ss = {4, 5, 6}

s & ss

{4}

In [ ]:
# 차집합
s = {1, 1, 1, 4, 4, 4, 2, 3}
ss = {4, 5, 6}

s - ss

{1, 2, 3}

In [ ]:
# 불만인 것
s + ss
# 이게 왜 합집합이 아닌가

In [ ]:
s.union(ss)
s | ss # 주로 이걸 쓴다

{1, 2, 3, 4, 5, 6}

In [ ]:
s.add(100)
s

{1, 2, 3, 4, 100}

In [ ]:
# remove
# 있는 값만 해야한다
# s.remove(1000) # error
# s.remove(100)

In [ ]:
# discard
s.discard(1000) # remove와는 다르게 없는값을 넣어도 error를 내지 않는다

In [ ]:
자유게시판 = {'licat','mura','binky','licat','licat','licat','licat','licat','licat','licat',}
공지사항 = {'licat', 'licat'} #게시물에 글 쓴사람은 몇사람이죠?
len(공지사항)

1

# 리스트 컴프리헨션

In [ ]:
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# l = []
# for i in range(10):
#     l.append(f'{i}입니다!')
# l
l = [f'{i}입니다!' for i in range(10)]
l

['0입니다',
 '1입니다',
 '2입니다',
 '3입니다',
 '4입니다',
 '5입니다',
 '6입니다',
 '7입니다',
 '8입니다',
 '9입니다']

In [ ]:
# for i in range(2, 10):
#     for j in range(1, 10):
#         l.append(f'{i} X {j} = {i*j}')
# l
l = [f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]
l

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [ ]:
l = [i for i in range(10) if i % 2 == 0]
l

[0, 2, 4, 6, 8]

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    else:
        l.append(None)
l

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
# error 나는 코드
# l = [i for i in range(10) if i % 2 == 0 else None]
# l

SyntaxError: ignored

In [ ]:
l = [i if i % 2 == 0 else None for i in range(10) ]
l

[0, None, 2, None, 4, None, 6, None, 8, None]