# 조건문

In [ ]:
if True:
    print('hello')

hello

In [ ]:
if False:
    print('hello')

In [ ]:
if(True):# 이렇게 괄호를 안써도 된다
    print('hello')

hello

In [ ]:
if 10 and 9:  # True나 False가 아니라 단락평가에 의해서 9
    print('hello')

hello

In [ ]:
if 10:
    print('hello')

hello

In [ ]:
# False
# ''
# []
# 0
# ()
# {}
# set()
# None
# __________
# True
# 1
# -1
# ' '
# [10,20]

In [ ]:
x = 5
y = 10
result = 'x is greater' if x > y else 'y is greater or equal'
print(result) # 출력: 'y is greater or equal'

y is greater or equal

In [ ]:
[i if i % 2 == 0 else None for i in range(10)]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
def f():
    return True

if f():
    print('hello')

hello

# 0913 연습문제

In [ ]:
# 문제1: 주어진 리스트 data = [{"name": "길동", "수학": 3, , "과학": 93}, {"name": "춘향", "수학": 33, "수학": 11}, {"name": "철수", "수학": 94, "과학": 67}]에서
# 평균점수가 가장 높은 학생에 이름을 출력하세요.
data = [{"name": "길동", "수학": 3,  "과학": 93}, {"name": "춘향", "수학": 33, "과학": 11}, {"name": "철수", "수학": 94, "과학": 67}]

avg = list(map(lambda x: sum(list(x.values())[1:])/2, data))

result = data[avg.index(max(avg))].get('name')
print(data[avg.index(max(avg))])
result

{'name': '철수', '수학': 94, '과학': 67}

'철수'

In [ ]:
# 문제1: 주어진 리스트 data = [{"name": "길동", "수학": 3, , "과학": 93}, {"name": "춘향", "수학": 33, "수학": 11}, {"name": "철수", "수학": 94, "과학": 67}]에서
# 평균점수가 가장 높은 학생에 이름을 출력하세요.
data = [{"name": "길동", "수학": 3,  "과학": 93}, {"name": "춘향", "수학": 33, "과학": 11}, {"name": "철수", "수학": 94, "과학": 67}]
max_p = max(data, key=lambda x: x["수학"] + x["과학"])
print(max_p)
print(max_p["name"])

{'name': '철수', '수학': 94, '과학': 67}
철수

In [ ]:
# 문제2: 주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의 모든 값을 5점씩 증가시키고 결과를 출력하세요.
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
d = dict(grades)
d.update({'Tom': d.get('Tom', 0) + 5})
d.update({'Jerry': d.get('Jerry', 0) + 5})
d.update({'Mickey': d.get('Mickey', 0) + 5})
d

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [ ]:
# 문제2: 주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의 모든 값을 5점씩 증가시키고 결과를 출력하세요.
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
# grades.update({'Tom': grades.get('Tom', 0) + 5})
# grades.update({'Jerry': grades.get('Jerry', 0) + 5})
# grades.update({'Mickey': grades.get('Mickey', 0) + 5})
updated_grades = {name: score + 5 for name, score in grades.items()}
print(updated_grades)

dict_items([('Tom', 87), ('Jerry', 95), ('Mickey', 70)])
{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [ ]:
# 문제3: 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서
# 가장 자주 등장하는 단어를 출력하세요.
s = "apple banana apple cherry banana cherry apple"
words = s.split()
print(words)
s = max(words, key = words.count )
print(s)
# s = max(s, key = s.count)

['apple', 'banana', 'apple', 'cherry', 'banana', 'cherry', 'apple']
apple

In [ ]:
# 문제3: 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서
# 가장 자주 등장하는 단어를 출력하세요.
s = "apple banana apple cherry banana cherry apple"
s.split()

['apple', 'banana', 'apple', 'cherry', 'banana', 'cherry', 'apple']

In [ ]:
# 문제3: 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서
# 가장 자주 등장하는 단어를 출력하세요.
from collections import Counter

s = "apple banana apple cherry banana cherry apple"
Counter(s.split())

In [ ]:
# 문제3: 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서
# 가장 자주 등장하는 단어를 출력하세요.
s = "apple banana apple cherry banana cherry apple"
words = s.split()
most_frequent_word = max(set(words), key=words.count)
print(most_frequent_word)

apple

In [ ]:
def f():
    return True

def ff():
    return 'hello'

if f() and ff():
    print('hello')

In [ ]:
# 성능에 영향을 끼칩니다!
def f():
    return False

def ff():
    x = 100 / 0 # error zerodivisi
    return 'hello'

if f() and ff(): # f()가 False 이므로 뒤에 ff실행 x
    print('hello')

In [ ]:
def f():
    return True

def ff():
    x = 100 / 0 # error zerodivisi
    return 'hello'

if f() or ff(): # f()가 True 이므로 뒤에 ff실행 x
    print('hello')

In [ ]:
my_function = lambda x: '짝수' if x % 2 == 0 else '홀수'
my_function(10)
my_function(11)

'홀수'

In [ ]:
# x = -1
# assert x > 0, '양수여야 한다!' # 잘안쓴다

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if 90 > score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if 80 > score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if 70 > score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm...!
100000

In [ ]:
# 위와 같이 하더라도 실행잉 같지 않고
# 또 성능도 안좋다
# 왜? if 뒤를 다 검사해야 하기 때문
# 적절하게 묶는 것은 매우 중요한 포인트입니다

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9,
}
if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
                print('영화시청')

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if 구독중인ott():
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.1 #변경
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if 구독중인ott():
                print('영화시청')

In [ ]:
# if를 중첩해서 사용하기
# 이 정도가 깔끔하게 다듬어진 것입니다
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '왓챠',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')
    else:
        print(movie['서비스']+' 구독하기!')

왓챠 구독하기!

# match

In [ ]:
text = 'Hello World'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 출력: 'No Match'

No Match

In [ ]:
text = 'Hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 출력: 'Hello'

Hello

In [ ]:
text = 'hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
print('end')

end

In [ ]:
# 작동하지 않는 코드입니다. JavaScript와 같은 곳에서는 아래와 같은 형식으로 사용하곤 합니다
text = 'Hello'
match text:
    case 'Hello':
        # print('')
    case 'World':
        print('World')
    case _:
        print('No Match')

IndentationError: ignored

In [ ]:
# 작동하지 않는 코드입니다
text = 'Hello'
match text:
    case 'Hello' and 'World':
        print('World')
    case _:
        print('No Match')

In [ ]:
# 작동하지 않는 코드입니다
text = 'Hello'
match text:
    case 'Hello' or 'World':
        print('World')
    case _:
        print('No Match')

In [ ]:
# 그러면 어떻게 해야 작동할까

In [ ]:
# 작동하는 코드입니다
text = 'Hello'
match text:
    case 'Hello' | 'World':
        print('World')
    case _:
        print('No Match')

World

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

One
Two
Three or Four
Three or Four
Other
Greater than ten

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case _:
            if i > 3:
                print('Greater than two')
            else:
                print('Less than or equal to two')
test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Greater than two
test(4) # 출력: Greater than two

One
Two
Less than or equal to two
Greater than two

In [ ]:
# match 연습문제
# match를 사용하여 아래 코드를 완성해주세요

def attack(attack_type, damage):
    match attack_type:
        case '물리공격':
            print(damage,'의 데미지를 입혔습니다')
        case '마법공격':
            print(damage,'의 데미지를 입혔습니다')
        case '정신공격':
            print(damage,'ms 만큼 상대방이 혼란을 느낍니다')



attack('정신공격', 100) # 물리공격, 마법공격, 정신공격

# 각 공격에 따라 아래의 값이 출력되어야합니다
# 물리공격, 마법공격 : '100의 데미지를 입혔습니다'
# 정신공격: '100ms 만큼 상대방이 혼란을 느낍니다'

100 ms 만큼 상대방이 혼란을 느낍니다

In [ ]:
# match 연습문제
# match를 사용하여 아래 코드를 완성해주세요

def attack(attack_type, damage):
    match attack_type:
        case '물리공격' | '마법공격':
            print(attack_type,damage,'의 데미지를 입혔습니다')
        # case '마법공격':
        #     print('마법공격',damage,'의 데미지를 입혔습니다')
        case '정신공격':
            print('정신공격',damage,'ms 만큼 상대방이 혼란을 느낍니다')



attack('마법공격', 100) # 물리공격, 마법공격, 정신공격

# 각 공격에 따라 아래의 값이 출력되어야합니다
# 물리공격, 마법공격 : '100의 데미지를 입혔습니다'
# 정신공격: '100ms 만큼 상대방이 혼란을 느낍니다'

마법공격 100 의 데미지를 입혔습니다

# 반복문

In [ ]:
# for는 in 구문과 함께
# for는 __iter__와 __next__를 계속해서 호출하는 것이다

In [ ]:
for x in 'hello':  # 순회 가능한 객체가 들어갑니다.
	print(f'현재 값은 {x} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [ ]:
for x in (1,2,3,4,5):
	print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [ ]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k in d:
    print(k)

하나
둘
셋

In [ ]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k, v in d.items():
    print(f'{k}: {v}')
for k in d.items():
    print(f'{k}')

하나: one
둘: two
셋: three
('하나', 'one')
('둘', 'two')
('셋', 'three')

In [ ]:
for k in d:
    print(k, ': ', d[k], sep='', end=' ')

하나: one 둘: two 셋: three

In [ ]:
# __iter__ 이 매직메서드가 없다?  for문이 안된다! 순회가능한 객체가 아니다
# __iter__ 이 있따? for문이 된다! 순회가능한 객체이다

In [ ]:
# 1부터 시작해서 5까지의 값이 x에 어떻게 들어가는 것일까요?
x = iter('hello')
print(x)

<str_iterator object at 0x799d073a4220>

In [ ]:
print(next(x))

h

In [ ]:
print(next(x))

e

In [ ]:
#  더 만들지 않고 여기서만 실행해보겠습니다
print(next(x))  # StopIteration error

StopIteration: ignored

In [ ]:
x = 'hello'
y = x.__iter__() # x = iter('hello')

In [ ]:
print(y.__next__()) # next('hello')
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())

h
e
l
l
o

StopIteration: ignored

In [ ]:
# 1부터 100까지 더하는 코드
result = 0
for i in range(101):
    result += i
result
# 1부터 100까지 짝수를 더하는 코드
# 권장하지 않는 코드(100번 돌아야 하고, if문도 봐야하고)
result = 0
for i in range(101):
    if i % 2 == 0:
        result += i
result

# 권장하는 코드(물론, 수학수식을 사용할 수 있으면 더 좋습니다)
# 순회도 반만 돌았고, if문도 없습니다
result = 0
for i in range(0, 101, 2):
    result += i
result

# 구구단 출력
for i in  [range(1,10)]:
    for j in range(1, 10):
        print(i, j, i*j)

# 홀수들에 특이한 덧셈을 하고 싶습니다
# 예를 들어, 6이하의 특이한 덧셈을 한다면
# 1 + 3이하의 수 + 5이하의 수....
# 1 + 1 + 2 + 3 + 1 + 2 + 3 + 4 + 5 이렇게 답이 나와야합니다
# 중첩 for를 조금 어렵게 표현
result = 0
for i in [range(2), range(4), range(6)]:
    for j in i:
        result += j
result

TypeError: ignored

In [ ]:
# for는 중첩 2번 해야 합니다
# 다음과 같은 문자열이 있습니다
# s = '135678'
# 이때 구구단 1단, 3단, 5단, 6단, 7단, 8단을 출력하는 코드
# 내 코드
# s = '135678'
# for i in list(map(int,s)):
#     for j in range(1, 10):
#         print(i,'X',j,'=',i*j)
# 강사님 코드
# s = '135678'
# for i in s:
#     for j in range(1, 10):
#         print(i, j, int(i)*j)
# 심화문제
# 특이한 구구단이 있다
# [2, 3, 6]이 있었을 때 아래와 같이 출력되어야한다
# 2단 , 3단, 6단을 출력하고
# 곱해지는 수는 [2, 3, 6]에 1씩을 더한
# [3, 4, 7]이 각각 곱해져야 합니다.
a = [2, 3, 6]

for i in a:
    for j in a:
        print(i,'X',(j+1),'=',i*(j+1))

for i in a:
    for j in a:
        print(f'{i}X{j+1}={i*(j+1)}')  # f-string

2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42
2X3=6
2X4=8
2X7=14
3X3=9
3X4=12
3X7=21
6X3=18
6X4=24
6X7=42

In [ ]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [ ]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션',]
for i in enumerate(영화누적관객수, 1):
    print(i)


for i, j  in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}')

(1, '레미제라블')
(2, '뷰티인사이트')
(3, '매트릭스')
(4, '인셉션')
누적관객수 1위! 레미제라블
누적관객수 2위! 뷰티인사이트
누적관객수 3위! 매트릭스
누적관객수 4위! 인셉션

In [ ]:
# 실행시키면 런타임 다시 시작해야합니다
# for문의 무한반복문
# l = [1, 2]
# for i in l:
#     l.append(3)
#     print(i)

s = 'hello'
for i in s: # 순회가 정상적으로 됩니다.
    s += '!'
    print(i)
    print(s)

d = {'one': '하나'}
for i in d: # RuntimeError: dictionary changed size during iteration
    d.update({i+d[i]:None})
    print(d)

h
hello!
e
hello!!
l
hello!!!
l
hello!!!!
o
hello!!!!!
{'one': '하나', 'one하나': None}

RuntimeError: ignored

In [ ]:
# while 문의 무한반복
# while True :
# 	print('무한 반복 중...')

In [ ]:
# 이런 코드는 OS에서 사용하거나
# 쉘 만들 때 사용합니다
while True:
    userinput = input('>')
    if userinput == 'pwd':
        print('현재 위치 출력')
    elif userinput == 'dir' or userinput == 'ls':
        print('현재 폴더에 폴더와 파일명 출력')
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

>pwd
현재 위치 출력
>exit
안녕히가세요.

In [ ]:
# .py파일로 작성해서 실행해보세요.
# os는 위험! 파일 삭제 생성 등등 위험!
import os

while True:
    userinput = input('>')
    if userinput == 'pwd':
        # print('현재 위치 출력')
        # print('\\'.join(__file__.split('\\')[:-1]))
        print(os.getcwd())
    elif userinput == 'dir' or userinput == 'ls':
        # print('현재 폴더에 폴더와 파일명 출력')
        print(os.listdir(os.getcwd()))
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

In [ ]:
import random

answer = random.randint(1, 1000)

while True:
    userinput = int(input('숫자를 입력해주세요.'))
    if userinput > answer:
        print('Down')
    elif userinput < answer:
        print('Up')
    else:
        print('축하합니다! 맞추셨어요!')
        break

In [ ]:
import random

s = [1, 2, 3, 4, 5]
random.shuffle(s)
s

[3, 2, 5, 4, 1]

In [ ]:
# 왈러스 연산자
x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

20
10

In [ ]:
import random

while (x := random.randint(0, 10)) != 7:
    print(x)

10
8
9
6
1
5
0
4

In [ ]:
x = 0
while x < 10:
    print(x)
    if x == 5:
        break
    x += 1

0
1
2
3
4
5

In [ ]:
i = 2

while i < 10:
    j = 1 # 중요!!!! while문은 중첩해서 사용할 때 초기화가 필요!!
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1

    i += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [ ]:
# 무한반복문
# x = 0
# while x < 10:
#     print(x)
#     if x == 5:
#         continue
#     x += 1

In [ ]:
x = 0
while x < 10:
    x += 1
    if x == 5:
        continue # 밑에를 실행하지않고 다시 위부터 반복
    print(x)

1
2
3
4
6
7
8
9
10

In [ ]:
# break는 바로 위에 부모만 탈출합니다
# continue는 아래 코드를 실행하지 않고 다음 루프로 넘어갑니다
# pass는 지나칠 뿐입니다. 코드가 에러가 나지 않게만 합니다
x = 0
while x < 10:
    x += 1
    if x == 5:
        pass
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        if j == 3:
            break
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

2 X 1 = 2
2 X 2 = 4
3 X 1 = 3
3 X 2 = 6
4 X 1 = 4
4 X 2 = 8
5 X 1 = 5
5 X 2 = 10
6 X 1 = 6
6 X 2 = 12
7 X 1 = 7
7 X 2 = 14
8 X 1 = 8
8 X 2 = 16
9 X 1 = 9
9 X 2 = 18

In [ ]:
try:
    for i in range(2, 10):
        for j in range(1, 10):
            if i * j > 6:
                raise StopIteration
            print(f'{i} X {j} = {i*j}')
except StopIteration:
    print("Done")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
Done

In [ ]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장이 있었다
for i in range(5):
    print(i)
else:
    print('정상종료')

0
1
2
3
4
정상종료

In [ ]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장있었어요.
for i in range(5):
    print(i)
    if i == 3:
        break
else:
    print('정상 종료')

0
1
2
3

In [ ]:
x = 1
while x < 10:
    print(x)
    x += 1
else:
    print('정상 종료')

1
2
3
4
5
6
7
8
9
정상 종료

In [ ]:
x = 1
while x < 10:
    print(x)
    if x == 3:
        break
    x += 1
else:
    print('정상 종료')

1
2
3

# 연습문제

In [ ]:
data = data = [
  {
    "_id": "287b44e4-d6d8-4a64-Bdf4-bfc50fedebd8",
    "index": "1",
    "name": "모송이",
    "email": "user-s6nfwx3@augue.org",
    "phone": "010-7996-9978",
    "country": "네덜란드",
    "address": "여의하류로 79-9",
    "job": "경찰관",
    "gender": "남성",
    "int": "32"
  },
  {
    "_id": "e3a93069-7d76-40a1-C25d-17d0057c1cb7",
    "index": "2",
    "name": "반시영",
    "email": "user-qqhgzek@rutrum.org",
    "phone": "010-3769-4878",
    "country": "몽골",
    "address": "논현로 97-7",
    "job": "화가",
    "gender": "남성",
    "int": "40"
  },
  {
    "_id": "633df946-fe2e-4cd8-Cc9e-ad604731b7a3",
    "index": "3",
    "name": "만예희",
    "email": "user-hpz3sp1@eiusmod.com",
    "phone": "010-7668-3707",
    "country": "베냉",
    "address": "용두동 31-1",
    "job": "상담전문가",
    "gender": "여성",
    "int": "26"
  },
  {
    "_id": "630250ed-e0ca-459c-C413-b29d0ad80df1",
    "index": "4",
    "name": "음주연",
    "email": "user-sg2q7mb@fames.com",
    "phone": "010-3606-8303",
    "country": "뉴칼레도니아",
    "address": "독산로 66-9",
    "job": "일러스트레이터",
    "gender": "여성",
    "int": "41"
  },
  {
    "_id": "6d7300f2-beca-48ae-B230-348405804838",
    "index": "5",
    "name": "등혜빈",
    "email": "user-mwbyxqr@dictum.biz",
    "phone": "010-7210-9218",
    "country": "남수단",
    "address": "잠원로 2-6",
    "job": "정보보호전문가",
    "gender": "여성",
    "int": "41"
  }
]

In [ ]:
data[0]
# 문제 1번: 평균 나이를 출력해주세요
sum = 0
for i in data:
    sum += int(i['int'])
print(f'평균 나이:{sum/len(data)}')
# 문제 2번: 남녀 성비를 출력해주세요
male = 0
female = 0
for i in data:
    print(i['gender'])
    if i['gender'] == '남성':
        male += 1
    else:
        female += 1
print(f'남성 {male}: 여성 {female}')

32
40
26
41
41
평균 나이:36.0
남성
남성
여성
여성
여성
남성 2: 여성 3

In [ ]:
# 나이
# ages = list(map(lambda x: x['int'],data))
ages = map(lambda x: x['int'],data)
ages = map(int, ages) # 가독성이 좋게하기위해 따로 작성
ages = list(ages)
sum(ages) / len(ages)

36.0

In [ ]:
# 성비
gender = list(map(lambda x: x['gender'], data))
total = len(gender)
man = gender.count('남성')
woman = total - man
print(f'남녀성비- {man/total * 100} : {woman/total * 100}')

남녀성비- 40.0 : 60.0

# 클래스

In [ ]:
class Car: # 차에 설계 도면 또는 차 공장입니다 => 클래스
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D','R', 'N']

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

# 테슬라 공장에서 막 찍혀져 나온 자동차!
# 3대 modelx, y, s => 인스턴스
modelx = Car()  # 인스턴스 = 클래스()
modely = Car()
models = Car()

# Car.max_speed # 모델x의 속도를 보고 싶으면 modlex.max_speed를 찍어야 합니다
# modles를 제가 구매했습니다

print(models.car_gear[1])
models.start()
models.stop()   # l = [1, 2, 3]
                # type(l)
                # dir(l)
                # l.append(3) # 이 모습!?
                # l

D
차가 출발합니다!
차가 멈췄습니다!

In [ ]:
# int, float, str과 같은 새로운 Car라는 type을 만들고 있는 것입니다

In [ ]:
print(type(models))
dir(models)

<class '__main__.Car'>

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'car_gear',
 'max_people',
 'max_speed',
 'start',
 'stop']

In [ ]:
x = 3
# 그럼 x는 무엇일까요?
# int라는 class에 인스턴스

In [ ]:
# x = int(3) 여기서 넣었던 3이라는 값이 어떻게 처리되는지 확인
class Car:
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D','R', 'N']

    def __init__(self, name): # 클래스로 인스턴스를 만들 때 호출!
        self.name = name

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')


modelx = Car('Tesla Model X') # x = int(3) 여기서 넣었던 3이 __init__이라는
modelx.name                   #매직메서드에서 처리

'Tesla Model X'

In [ ]:
# 실제 게임 코드
class Character:
    def __init__(self, name, role, hp, mp, power):
        self.name = name
        self.role = role
        self.hp = hp
        self.mp = mp
        self.power = power

    def attack(self):
        print('공격!')

    def defence(self):
        print('방어!')

hero_ironman = Character('아이언맨', '히어로', 100, 100, 100)
villain_thanos = Character('타노스', '빌런', 100, 100, 200)
# 여러 등장인물을 이런식으로 코딩할 수 있습니다

In [ ]:
class Person:
    name = 'jun' # 클래스 변수
    def __init__(self, name):
        self.name = name # 인스턴스 변수

hojun = Person('hojun')
hojun.name, Person.name

In [ ]:
class Car:
    max_speed = 300

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')


modelx = Car('Tesla Model X')
modelx.name

'Tesla Model X'

In [ ]:
modelx.hello = 'hello world'

In [ ]:
modelx.hello

'hello world'

In [ ]:
def hello():
    print('hello world')

print(type(hello))

<class 'function'>

In [ ]:
hello.hi = 'hi world'

In [ ]:
hello.hi

'hi world'

In [ ]:
# 인스턴스 변수 선언을 허락하고 있지 않습니다!
s = 10
s.hi = 'hi world'

AttributeError: ignored

In [ ]:
s = 'hello'
s.hi = 'hi world'

AttributeError: ignored

In [ ]:
s = [10. 20. 30]
s.hi = 'hi world'

SyntaxError: ignored

In [ ]:
s = {'one': 1}
s.hi = 'hi world'

AttributeError: ignored

In [ ]:
#__add__를 구현

class Point:

    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __add__(self, other):
        return Point((self.x + other.x), (self.y + other.y))

    def distance(self, other):
        dx = self.x - other.x
        dy = self.y - other.y
        return (dx**2 + dy**2)**0.5

dot1 = Point(10, 20)
dot2 = Point(20, 30)

dot3 = dot1 + dot2
print(dot3.x, dot3.y)
dot3.distance(dot1)

30 50

36.05551275463989

In [ ]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1 + m2

[30, 50, 70]

In [ ]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i]+ other.value[i])

    def __mul__(self, other):
        if isinstance(other, int):
            return [i*other for i in self.value]
        raise TypeError('int형 외에 곱을 허락하지 않습니다')
m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1 * 3
m1 * [1, 2, 3]

TypeError: ignored

In [ ]:
# 단순화 시키긴 했으나 실제 아래와 같이 만듭니다

class 게시물설계도:
    id = int()
    title = str()
    contents = str()
    author = str()
    create_time = str()
    update_time = str()
    view_count = int()
    last_connect_location = str()
    last_connect_time = str()

게시물1 = 게시물설계도()
게시물2 = 게시물설계도()

# 0914 기본문제

In [ ]:
# 아래 기본 data를 기반으로 문제를 풀어주세요.
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "gender": "남성",
    "age": "31"
  }
]
# 문제 1 gender, age값을 추출해보세요. 아래 양식처럼 추출하시면 됩니다. 가능하면 map을 사용해주세요.
'''
 [
  {
    "gender": "여성",
    "age": "43"
  },
  {
    "gender": "남성",
    "age": "22"
  },
  {
    "gender": "남성",
    "age": "31"
  }
]
'''

# 문제 2 User라는 class를 만들어 해당 데이터를 관리해주세요. 아래처럼 저장되어야 합니다.
# 다만 꼭 변수 이름이 user_1...user_n 일 필요는 없습니다.
# 저장양식: '[user_1, user_2, user_3]'

# 문제 3 BankAccount 클래스를 생성하세요. 이 클래스는 owner(계좌주 이름), balance(잔액) 속성을 가져야 합니다.
# 이 클래스는 deposit(amount) (입금) 및 withdraw(amount) (출금) 메서드를 가져야 합니다.
# 단, 출금 시 잔액보다 큰 금액을 출금하려고 하면 "잔액 부족" 메시지를 출력해야 합니다.

'\n [\n  {\n    "gender": "여성",\n    "age": "43"\n  },\n  {\n    "gender": "남성",\n    "age": "22"\n  },\n  {\n    "gender": "남성",\n    "age": "31"\n  }\n]\n'

In [ ]:
# 문제 1
# info = list(map(lambda x: {x['gender'],x['age']}, data))
info = list(map(lambda x: {"gender":x['gender'],"age":x['age']}, data))
info

[{'gender': '여성', 'age': '43'},
 {'gender': '남성', 'age': '22'},
 {'gender': '남성', 'age': '31'}]

In [ ]:
# 문제 2
# 우리 수업인 Django에서 사용되고
# 곧 나올 크롤링 같은 곳에서도 많이 사용됩니다
#
# 1. 속도: 기본자료형보다 훨씬 빠릅니다.
# 2. 메서드 구현: User클래스를 가지고 20 ~ 30, 30~ 40, 40 ~ 50대 별 타겟팅 광고
class User:

    def __init__(self, data):
        self._id = data['_id']
        self.index = data['index']
        self.name = data['name']
        self.gender = data['gender']
        self.age = data['age']

user_1 = User(data[0])
user_2 = User(data[1])
user_3 = User(data[2])
userlist = [user_1, user_2, user_3]
userlist[0].name

'나주헌'

In [ ]:
class User:
    def __init__(self, _id, index, name, gender, age):
        self._id = _id
        self.index = index
        self.name = name
        self.gender = gender
        self.age = age

    def __repr__(self):
        return f'user_{self.index}'

users = [User(**x) for x in data]
print(users)
users[0].name

In [ ]:
from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

In [ ]:
# 문제 3
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner['name']
        self.balance = balance
        print(self.owner)

    def deposit(self, amount):
        if amount < 0:
            raise TypeError("양수로 입력해주세요")
        self.balance += amount
        print(self.balance)

    def withdraw(self, amount):
        if amount < 0:
            raise TypeError("양수로 입력해주세요")
        if self.balance < amount:
            print("잔액 부족")
        else:
            self.balance -= amount
            print(self.balance)


user1 = BankAccount(data[0], 50000)
user1.deposit(400)
user1.withdraw(400)

나주헌
50400
50000

In [ ]:
class Car:
    # 클래스 변수의 위치
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

modelx = Car()
modely = Car()

modely.max_speed = 500

print(Car.max_speed)
print(modelx.max_speed)
print(modely.max_speed)
print(id(modelx))
print(id(modely))

300
300
500
133803089961568
133803089963392