# 연산과 구문

# 산술 연산자

In [ ]:
{'one':1} + {'two':2} # error
{5} + {6} # error

In [ ]:
7 - 4

3

In [ ]:
7 -- 4

11

In [ ]:
7 --- 4

3

In [ ]:
-2 * 2

-4

In [ ]:
-2 ** 2 #주의 매우주의

-4

In [ ]:
(-2)**2

4

In [ ]:
result = "Ha" * 3
print(result) # 결과: "HaHaHa"

HaHaHa

In [ ]:
list1 = [1, 2, 4]
list2 = [3, 5, 6]
combined_list = list1 + list2
print(combined_list)  # [1, 2, 3, 4, 5, 6]

[1, 2, 4, 3, 5, 6]

In [ ]:
tuple1 = (1, 2, 4)
tuple2 = (3, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)  # (1, 2, 3, 4, 5, 6)

(1, 2, 4, 3, 5, 6)

In [ ]:
a = 10
b = 2
print(a / b) # 결과 5.0
print(a // b) #결과 5 (JavaScript에서 //는 주석이라 이 연산이 없다.)

In [ ]:
# python에 //은 몫을 나타내는 것이 아니다
# 내림
a = -5
b = 2
print(a // b) # 결과 -3

In [ ]:
10 / 0 # 수학적으로 0으로 나누는 것이 정의되지 않았기 때문입니다. error : ZeroDivisionError 발생

ZeroDivisionError: ignored

In [ ]:
10.123 // 1

10.0

In [ ]:
-10.123 // 1

-11.0

In [ ]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [ ]:
10 % 3.3 #부동소수점

0.10000000000000053

In [ ]:
(100 % 33) / 10 # 소숫점 1자리까지 출력

0.1

In [ ]:
(1000 % 330) / 100 #소수점 2자리까지

0.1

In [ ]:
10 % 0 # ZeroDivisionError

ZeroDivisionError: ignored

In [ ]:
5 == '5' # False

False

In [ ]:
print('apple' < 'banana') # 결과: True  유니코드기반

True

In [ ]:
print('apple' < 'applee') # 결과: True

True

In [ ]:
print('한' < '후')

True

In [ ]:
print([10, 20, 30, 35] < [10, 20, 30, 40])

True

In [ ]:
print([10, 20, 30] < [10, 20, 30, 40]) # True
print([10, 20, 35] < [10, 20, 30, 40]) # False

True
False

In [ ]:
x = 10
5 < x < 15

True

In [ ]:
4 < x < 9

False

# 논리 연산자

In [ ]:
# and , or , not
# True => 1 False => 0
print(True and False) # False
print(True and True)  # True
print(True or False)  # True
print(True or True)   # True
print(not True)
print(not False)

False
True
True
True
False
True

In [ ]:
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

In [ ]:
for i in range(101):
    if i % 3 == 0:
        if i % 5 == 0:
            print(i)
 #if 중첩은 and로 줄여서 사용 가능하다
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90
0
15
30
45
60
75
90

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        print(sum)

TypeError: ignored

In [ ]:
# 여기서부터는 나아가기

a = True
b = False

a and b and ccc and ddd # a and b << 이미 False가 나왔으므로
                        # python에서는 뒤에 코드를 실행하지않는다 고로 없는 변수를 사용해도 에러 발생 x
                        # 디버깅 할 때 조심

0

In [ ]:
a = True
b = False
c = False
a or (b and c)

True

In [ ]:
a = True
b = False
c = False
d = True
(a and b) or (c and d)

False

In [ ]:
a = True
b = False
c = False
d = True

(a and (not b)) or (c and d)

In [ ]:
# 단락회로평가

a = 'hello' #True로 본다
b = ''

a or b  # a가 True이므로 a까지만보고 or뒤는 보지않는다

In [ ]:
# 단락회로평가

a = ''
b = 'world' #True로 본다

a or b  # a가 False이므로 뒤까지 확인

In [ ]:
username = ''

username = username or '이름을 정하지 않았습니다'
username

In [ ]:
username = 'licat'

username = username or '이름을 정하지 않았습니다'
username

In [ ]:
# result = functionA() or functionB()
# 앞에 값이 None이나 0이 아니라면 뒤에 값으로 result를 만들겠다

# 할당연산

In [ ]:
x = 10
y = 20

In [ ]:
x = x + 1
x

11

In [ ]:
x += 1
x

12

In [ ]:
x /= 1
x //= 1
x **= 1
x *= 1
x %= 1

# id 연산자, is 연산자, is not 연산자
중요 is는 is not이고 in은 not in이다

In [ ]:
a = 10000
b = 10000

a is b

False

In [ ]:
id(a), id(b)

(134079251315312, 134079251313648)

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

a is b

False

In [ ]:
id(a), id(b)

(134079249623360, 134080223270208)

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print('a == b', a == b)
print('a == c', a == c) # == 값 비교
print('a is b', a is b) # is 주소 비교
print('a is c', a is c)

# in 구문       
중요 is는 is not이고 in은 not in이다

In [ ]:
10 in [10, 20, 30]

True

In [ ]:
'h' in 'hello world'

True

In [ ]:
'world' in 'hello world'

True

In [ ]:
'hell' not in 'hello world'

False

In [ ]:
'wolf' not in 'hello world'

True

In [ ]:
a = {'key1': 'value1', 'key2': 'value2'} #딕셔너리
b = {10, 10, 20}
10 in b # 출력: True
{10} in b # 출력: False, 주의
{10, 20} in b # 출력: False, 주의

'key1' in a # 출력: True
'value1' in a # 출력: False
('key1', 'key2') in a # 출력: False
# {'key1':'value1'} in a # error

False

In [ ]:
print(a.values())
'value1' in a.values()

dict_values(['value1', 'value2'])

True

# 연산자 우선순위

In [ ]:
-2 ** 2

-4

In [ ]:
(True * True) and (True + False)

In [ ]:
# 복합 할당 연산자가 가장 나중
a = 10
a *= 10 + 100
a

In [ ]:
# a가 30이 될 것 같지만
# 오류나는 문법
a = 10
a = a += 20

In [ ]:
# 그리디 알고리즘
# 10000원짜리를 들고가서 1500원짜리 월드콘을 사먹고 거스름돈을 가장 적게 줄 수 있는 코드

거스름돈 = 10000 - 1500

거스름돈 = 거스름돈 % 5000
print(거스름돈 // 5000, '5000원')

거스름돈 = 거스름돈 % 1000
print(거스름돈 // 1000, '1000원')

거스름돈 = 거스름돈 % 500
print(거스름돈 // 500, '500원')

거스름돈 = 거스름돈 % 100
print(거스름돈 // 100, '100원')

0 5000원
0 1000원
0 500원
0 100원

# 연습문제

In [ ]:
# 문제 1
x = 3
y = 5
result = isinstance(x, int) and isinstance(y, int) and (x + y) # 여기에 논리연산자를 더 붙여
                                                        #  두 수를 더하는 코드를 만들어보세요.
result

0

In [ ]:
# 문제 2  다음 출력값은 무엇이고 왜 그러한가
print('hello' < 'hell o')  # False 유니코드에서 ' '보다 'l'이 더 뒤에 있어서

print([10, 20, 30] < [10, 19, 100]) # 이유 : 2번째 요소인 20보다 19가 작기 때문에 False를 반환한다

print(10 % 3.3 == 0.1) #컴퓨터는 2진수로 연산을 하는데 2진수 변환에서 무한수가 발생이 되어
#정확한 계산값이 아닌근사치로 나온다

False
False
False
0.1

In [ ]:
# 문제 3 어떤 이메일을 쓰고 있는지 출력하는 코드를 작성
email1 = 'abc@gmail.com' # gmail
email3 = 'abc@naver.com' # naver
email4 = 'abc@weniv.co.kr' # weniv
email5 = 'li.cat@weniv.co.kr' # weniv
e.rindex('.')
print(email1[email1.rindex('@')+1:].split('.')[0])
print(email3[email3.rindex('@')+1:].split('.')[0])
print(email4[email4.rindex('@')+1:].split('.')[0])
print(email5[email5.rindex('@')+1:].split('.')[0])

email4.split('@')[1].split('.')[0]

NameError: ignored

# 함수

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [ ]:
# 들여쓰기
# print와 returnmㅇ은 헷갈리시면 안됩니다
def printnum(): #함수의 정의
    print('1')
    print('2')
    print('3')
    # return None 생략되어있다
a = printnum() #함수의 호출
print(a)

1
2
3
None

In [ ]:
# 함수의 종료 구분은 들여쓰기 기준이며
# return으로도 구분이 된다
def printnum():
    print('1')
    print('2')
print('3')
printnum() # __repr__이 있어야 None출력

3
1
2

In [ ]:
# 출력값이 다르다는 것을 알아야한다
print(type(printnum)) # __str__ 출력
type(printnum) # __repr__출력
dir(printnume)

In [ ]:
printnum.__str__()

'<function printnum at 0x7bc9983f28c0>'

In [ ]:
printnum.__repr__()

'<function printnum at 0x7bc9983f28c0>'

In [ ]:
# None은 출력되지 않습니다
a = None
a

In [ ]:
# 파선아실
# 파라미터는 선언할 때 아규먼트는 실행할 떄
def function(x, y):
    z = x + y
    return z
print('function(5, 7)=', function(5, 7))

function(5, 7)= 12

In [ ]:
# 함수 안에 함수
def f():
    def ff():
        return 100
    x = ff()
    return x

f()
# ff() #  함수 내부에서 선언한 변수와 함수는 밖에서 호출불가

100

In [ ]:
# 함수를 아규먼트로 전달
def f(a, b):
    return a + b

def ff(a):
    return a(10, 20)

ff(f)

30

In [ ]:
def f():
    pass

def f():
    pass
    return 1


def f():
    pass              # pass는 종료가 아니라 없는 것으로 취급한다.
    print(10)

f()

10

In [ ]:
# 이게 error기 때문에 pass를 사용한다
# pass를 사용했을 때 나중에 개발될 것이라는 표시를 해놓는 것과 같다
# return보다 타이핑이 쉽고 빠르다(속도감이 있다 >> 파이썬에서 속도감은 중요하다)
# def hit():
#
# def move():
#
# def heal():
def hit():
    pass

def move():
    pass

def heal():
    pass

In [ ]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

In [ ]:
def f(a=10, b=20, c=30):
    print(a, b, c)

f()
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

10 20 30
100 10 30
100 200 300
100 200 300

In [ ]:
# 기본값이 없는 것들은 앞에 배치해야한다.
def f(a=10, b=20, c): # c만 default value를 안주게 되면 error, 순서대로 안주어야 합니다.
    print(a, b, c)

# f() # error
# f(100, 10) # error
# f(a=100, b=200, c=300) # error
# f(c=300, a=100, b=200) # error
# f(c=300) # error

In [ ]:
def f(a, b=20, c=10): # 이렇게는 가능
    print(a, b, c)

# f() # error
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)
# f(c=300) # error

100 10 10
100 200 300
100 200 300

In [ ]:
# a 와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수

a = 2
b = 3
# (2 + 3) * (2 - 3) = -5 가 출력 되어야한다
# 조건 1 : a가 입력되지 않으면 0이 입력된다
# 조건 2 : b가 입력되지 않으면 0이 입력된다
def f(a ,b):
    def plus(a, b):
        return a + b
    def minus(a, b):
        return a - b
    result = plus(a, b) * minus(a, b)
    return result
f(a, b)

-5

In [ ]:
# 찬양님 코드
# a와 b를 더한 값과 a와 b를 뺸 값을 곱하는 함수를 만들어주세요.
a = 2
b = 3
# (2+3) * (2-3) = -5가 출력이 되어야합니다.
# 조건1: a가 입력되지 않으면 0이 입력됩니다.
# 조건2: b가 입력되지 않으면 0이 입력됩니다.


def multiple (x=0,y=0):
    return x*y

def plus (x=0,y=0):
    return x+y

def minus (x=0,y=0):
    return x-y

multiple(plus(a,b),minus(a,b))

In [ ]:
# 지역변수와 전역변수

def f():
    inner_value = 100

print(inner_value) # 함수안에 있는 지역변수이므로 함수 밖에서 사용 불가

In [ ]:
x = 100
def f():
    print(x)
f()

100

In [ ]:
x = 100
def f():
    y = x + x
    return y

f()

200

In [ ]:
x = 100
def f():
    x = 200
    return x

f(), x

(200, 100)

In [ ]:
a = 100
def f():
    a = a + 1 # error
    return a
f()

In [ ]:
a = 100
def f():
    b = a + 1
    return b
f()

101

In [ ]:

a = 100
def f():
    global a
    a = a + 1
f()

In [ ]:
a

101

In [ ]:
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            a = 100000
            print(a)
        fff()
    ff()
f()
print(a)

100
1000
100000
10

In [ ]:
# global을 하면 함수가 얼만큼 중첩되어 있건 최상단에 있는 a를 바라본다
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            global a
            print(a)
        fff()
    ff()
f()

print(a)

100
1000
10
10

In [ ]:
# global을 사용하지 않고 중첩된 함수내에서 a를 출력하게 되면 바로 위 함수의 a를 출력한다
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            print(a)
        fff()
    ff()
f()

print(a)

100
1000
1000
10

In [ ]:
# nonlocal
a = 10
def f():
    a = 100
    print(f'f a: {a}')
    def ff():
        a = 1000
        print(f'ff a: {a}')
        def fff():
            nonlocal a
            a = 100
            print(f'fff a: {a}')
        fff()
        print(f'ff a: {a}')
    ff()
f()
print(f'global a: {a}')

f a: 100
ff a: 1000
fff a: 100
ff a: 100
global a: 10

In [ ]:
#sys.setrecursionlimit -> 제한을 늘릴 수 있음
# 실행 no
# def 숫자출력():
#     print(1)
#     return 숫자출력()
# 숫자출력()

In [ ]:
#sys.setrecursionlimit -> 제한을 늘릴 수 있음
def 숫자출력(count):
    if count > 100:
        return
    print(count)
    return 숫자출력(count+1) #값을 1부터 반복횟수 까지의 값을 출력

숫자출력(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# 재귀함수는 사용하지 마세요 (주니어때)
# 위험하고 일부 효율이 좋지 않다
# 반복문 <-> 재귀는 서로 상호 호환이 가능하다
# 반복문 사용하세요

In [ ]:
# 상식 수준에서 다음 재귀함수는 암기
# 1. 팩토리얼
# 2. 문자열 뒤집기

In [ ]:
def factorial(n):
    if n <= 1:
        return 1
    return n * factorial(n-1)


'''
함수 호출             return
factorial(5)       5 * factorial(4)  == 5 * 24
factorial(4)       4 * factorial(3)  == 4 * 6
factorial(3)       3 * factorial(2)  == 3 * 2
factorial(2)       2 * factorial(1)  == 2
factorial(1)       1
'''
factorial(5)

120

In [ ]:
s = 'hello world'
print(s[1:] + s[0])
s = s[1:] + s[0]


print(s[1:] + s[0])
s = s[1:] + s[0]


print(s[1:] + s[0])
s = s[1:] + s[0]

print(s[1:] + s[0])
s = s[1:] + s[0]

print(s[1:] + s[0])
s = s[1:] + s[0]

print(s[1:] + s[0])
s = s[1:] + s[0]


print(s[1:] + s[0])
s = s[1:] + s[0]


print(s[1:] + s[0])
s = s[1:] + s[0]

print(s[1:] + s[0])
s = s[1:] + s[0]


print(s[1:] + s[0])
s = s[1:] + s[0]

print(s[1:] + s[0])
s = s[1:] + s[0]

ello worldh
llo worldhe
lo worldhel
o worldhell
 worldhello
worldhello
orldhello w
rldhello wo
ldhello wor
dhello worl
hello world

'hello world'

In [ ]:
def reversed_str(s):
    x = []
    if len(s) <= 1:
        return s
    x = reversed_str(s[1:]) + s[0]
    return x

'''
함수 호출             return
reversed_str(s)       reversed_str(s[1:]) + s[0]
reversed_str('hello') reversed_str('ello') + 'h'   == 'olle' + 'h'
reversed_str('ello')  reversed_str('llo') + 'e'    == 'oll' + 'e'
reversed_str('llo')   reversed_str('lo') + 'l'     == 'ol' + 'l'
reversed_str('lo')    reversed_str('o') + 'l'      == 'o' + 'l'
reversed_str('o')     'o'                          == 'o'
'''

print(reversed_str('hello'))

olleh

In [ ]:
# 팩토리얼 반복문으로
n = 5
result = 1
for i in range(1, n+1):
    result *= i
result

120

In [ ]:
# 문자열 뒤집기 반복문으로
s = 'hello'
result = ''
for i in s:
    result = i + result
    print(result)
result

h
eh
leh
lleh
olleh

'olleh'

# 함수 나아가기

In [ ]:
'hello world'     .upper()      .replace(' ', '')     .lower()

'HELLO WORLD'

In [ ]:
# 여러개의 값 반환하기

def f():
    a = 10
    b = 20
    c = 30
    return a, b, c

f()

(10, 20, 30)

In [ ]:
print() # built-in function

def f(): # custom function
    pass

# 여기서 print와 f는 변수입니다
# 변수는 가리키는 것입니다
sumin = print
sumin('hello world')

hello world

In [ ]:
# 변수처럼 아래처럼 관리할 수 있습니다
x = 10
y = 20
l = [x, y]

def add(x, y):
    return x + y

def sub(x, y):
    return x - y

ll = [add, sub]

ll[0](10, 20)  # add(10, 20)과 같다

30

In [ ]:
#  매우 중요!

add2 = lambda x, y: x + y
sub2 = lambda x, y: x + y
add2(10, 20)

30

In [ ]:
test = lambda x: x**2
print(test(10))

def test2(x):
    return x ** 2

print(test2(10))

100
100

In [ ]:
x = map(int, '1234')  # map은 휘발성

for i in x:
    print(i)

for i in x:  #  더이상 순회 x
    print(i)

<map object at 0x7dfff27a5090>
1
2
3
4

In [ ]:
x = map(int, '1234')
# 1번째 수행 int('1')
# 2번째 수행 int('2')
# 3번째 수행 int('3')
# 4번째 수행 int('4')

In [ ]:
list(map(int, '1234'))

[1, 2, 3, 4]

In [ ]:
def f(x):               # map을 쓰는 이유는 재사용을 안하기위해
    return x * 2        # 따라서 def함수를 사용할 필요는 없다(lambda사용)

print(list(map(f, '1234')))
print(list(map(f, {1, 2, 3, 4})))
print(list(map(f, (1, 2, 3, 4))))

['11', '22', '33', '44']
[2, 4, 6, 8]
[2, 4, 6, 8]

In [ ]:
print(list(map(lambda x:x*2, '1234')))
print(list(map(lambda x:x*2, {1, 2, 3, 4})))
print(list(map(lambda x:x*2, (1, 2, 3, 4))))

['11', '22', '33', '44']
[2, 4, 6, 8]
[2, 4, 6, 8]

In [ ]:
all
any

# 이 2개는 알고리즘 풀이용
char
ord

map
filter
zip

format

len

max
min
sum

repr()
print()

enumerate
range

reversed
sorted

In [ ]:
# 모두 다 True여야 True 반환
all([True, True, True])
all([True, True, False])
all([1, 1, 1, 1])
all([1, 1, 1, 0])
all([1, 100, 10, -1])

True

In [ ]:
# 하나라도 True이면 True다
any([True, False, False])
any([False, False, False])

True

In [ ]:
# 10진수로 유니코드표에서 찾아 대응되는 값을 준다
chr(65)
chr(97)
chr(54616)

'하'

In [ ]:
# 문자를 입력하면 유니코드에서 숫자로 출력해준다
ord('a')
ord('하')

54616

In [ ]:
# 유니코드 표 값 십진수로
int ('D558', 16)

54616

In [ ]:
# 대문자는 소문자로, 소문자는 대문자로 바꾸는 코드
# 'weniv CEO licat' -> 'WENIV ceo LICAT'

In [ ]:
# map, filter, zip 전부다 메모리 주소 반환이므로 list사용

In [ ]:
map(lambda x: x**2, [1, 2, 3, 4]) # 계산 되기전 object

In [ ]:
list(map(lambda x: x**2, [1, 2, 3, 4])) # 계산된 후 object

[1, 4, 9, 16]

In [ ]:
list(filter(lambda x: x>10, [1, 2, 11, 12, 6, 9, 13]))

[11, 12, 13]

In [ ]:
x = (1, 2, 11, 12, 6, 9, 13)

def filter_function(x):
    return x > 10

list(filter(filter_function, [1, 2, 11, 12, 6, 9, 13]))

[11, 12, 13]

In [ ]:
list(filter(lambda x: x>10, [1, 2, 11, 12, 6, 9, 13]))

[11, 12, 13]

In [ ]:
zip('abc', '123')

list(zip('abc', '123'))

[('a', '1'), ('b', '2'), ('c', '3')]

In [ ]:
list(zip('abc', '123', [10, 20, 30]))

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [ ]:
list(zip('abc', '1234567', [10, 20, 30]))

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [ ]:
# zip은 좌표계에서 자주 응용됩니다.
# https://codingdojang.com/scode/408?answer_mode=hide
s = [1, 3, 4, 8, 13, 17, 20]
list(zip(s, s[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
# sorted는 지금 단계에서 하지 않아요. 바로 뒤에 있으니 지금 이해하려 하지 마세요.
# 지금은 zip에 집중해주세요.
sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])
# sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])[0] # 정답 코드

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
format(10000000, ',')

'10,000,000'

In [ ]:
len('hello world')

11

In [ ]:
max([1, 2, 3, 4, 5, 6])

6

In [ ]:
min([1, 2, 3, 4, 5, 6])

1

In [ ]:
sum([1, 2, 3, 4, 5, 6])

21

In [ ]:
print(max([(1, 2), (3, 4), (1, 20), (3, 100)]))
print(max(['hello', 'wolrd', 'world1']))

(3, 100)
world1

In [ ]:
sum([1, 2, 3], 10)

16

In [ ]:
print(sum([[1, 2],[3, 101],[1, 20], [3, 100]],[]))
print(sum([[1, 2],[3, 101],[1, 20], [3, 100]],[99, 23]))

[1, 2, 3, 101, 1, 20, 3, 100]
[99, 23, 1, 2, 3, 101, 1, 20, 3, 100]

In [ ]:
[] + [1, 2]
[1, 2] + [3, 101]
[1, 2, 3, 101] + [1, 20]
[1, 2, 3, 101, 1, 20] + [3, 100]

[1, 2, 3, 101, 1, 20, 3, 100]

In [ ]:
# sum([[1, 2],[3, 101],[1, 20], [3, 100]]) # numpy나 pandas 사용해야한다

In [ ]:
class Character:
    def __repr__(self):
        return 'hello'
    def __str__(self):
        return 'world'

hero = Character()
print(hero)
hero

world

hello

In [ ]:
repr(hero)

'hello'

In [ ]:
가수 = ['뉴진스', '르세라핌', '에스파', '아이브']
print(list(enumerate(가수)))
print(list(enumerate(가수, 1)))
print(list(enumerate(가수, 100)))

for i, j in enumerate(가수, 1):
    print(i, j)

[(0, '뉴진스'), (1, '르세라핌'), (2, '에스파'), (3, '아이브')]
[(1, '뉴진스'), (2, '르세라핌'), (3, '에스파'), (4, '아이브')]
[(100, '뉴진스'), (101, '르세라핌'), (102, '에스파'), (103, '아이브')]
1 뉴진스
2 르세라핌
3 에스파
4 아이브

In [ ]:
type(print)

builtin_function_or_method

In [ ]:
type(enumerate)

type

In [ ]:
type(max)

builtin_function_or_method

In [ ]:
type(format)

builtin_function_or_method

In [ ]:
type(len)

builtin_function_or_method

In [ ]:
type(range)

type

In [ ]:
type(map)

type

In [ ]:
type(zip)

type

In [ ]:
type(filter)

type

In [ ]:
type(int)

type

In [ ]:
type(str)

type

In [ ]:
# type => 자료형

In [ ]:
# range(start, stop, step)  슬라이싱과 비슷한 형태
print(range(10))          # 값을 가지고 있지 않습니다
print(list(range(10)))
x = range(10)
print(type(x))
print(list(range(0, 10, 2)))
print(list(range(10, 0, -2)))
# print(list(range(0, 10, 2.1)))  error numpy 모듈 사용하면 가능
# print(list(range(10.1, 2.0, 2))) error numpy 모듈 사용하면 가능
print(list(range(10, 0, 2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'range'>
[0, 2, 4, 6, 8]
[10, 8, 6, 4, 2]
[]

In [ ]:
# 2.x버전에서 range와 그 외 값들에 대한 히스토리
# print(range(10))  # 출력 : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 메모리를 모두 차지하고 있다.

# print(range(100000000000000000000000000000000000000000))
# 메모리의 효율이 극도로 안좋아짐
# 그런데 3.x버전에서 range(10000000000000000000000000000000000)는 시작과 끝, 스텝 값만
# 가지고 있기 때문에 메모리 낭비가 전혀 없다.

# 2.x에서도 3.x와 같은 range타입이 있었다 => xrange 문법 xrange 문법이 3.x되면서 range문법이 된 것이다
'''
print(xrange(10))  # 출력 : xrange(10)
for i in xrange(10) # 출력 : 순회 가능
    print(i)
'''

In [ ]:
# reversed
print(list(reversed('hello world')))
list(reversed([1, 2, 3, 4, 10, 5]))

['d', 'l', 'r', 'o', 'w', ' ', 'o', 'l', 'l', 'e', 'h']

[5, 10, 4, 3, 2, 1]

In [ ]:
# sorted
list(reversed(sorted([1, 2, 3, 4, 10, 5])))

[10, 5, 4, 3, 2, 1]

In [ ]:
# 매우 중요합니다
# 알고리즘 문제에 단골 built-in function

sorted([1, 2, 100, 200, 3, 4, 10, 20])
sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse = True)
sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse = False)

[1, 2, 3, 4, 10, 20, 100, 200]

In [ ]:
sorted(['hello', 'hel', 'hell', 'heo', 'a'])
['a', 'hel', 'hell', 'hello', 'heo']
sorted(['hello', 'hel', 'hell', 'heo', 'a'], key = len)
['a', 'hel', 'heo', 'hell', 'hello']
# 위 코드는 sorted([5, 3, 4, 3, 1])와 같다

['a', 'hel', 'heo', 'hell', 'hello']

In [ ]:
sorted(['hello', 'hel', 'hell', 'heo', 'a'], key = len)

['a', 'hel', 'heo', 'hell', 'hello']

In [ ]:
data = [
    [2, 'hello world', 30],
    [6, 'hello w', 39],
    [3, 'hworl', 33],
    [5, 'hello wo', 35],
    [4, 'hello wor', 31]
    ]

# 1번째 문제 : 첫 번째 요소의 값을 가지고 정렬하세요
print(sorted(data))

# 2번째 문제 : 두 번째 요소의 문자열 길이를 기준으로 정렬하시오
print(sorted(data, key=lambda x:len(x[1])))
# def f(x):
#     return x[1]
# print(list(map(f , data)))
# print(sorted(data, key=f))

# sorted([11, 5, 7, 8, 7])를 정렬하는 것과 같다. 다만 숫자의 값이 아닌 object로 반환한다

# 3번째 문제 : 세 번째 요소의 값을 가지고 정렬하세요
print(sorted(data, key=lambda x:x[2]))

# 4번째 문제 : 첫 번째 요소와 세 번째 요소의 차가 큰 순으로 출력
print(sorted(data, key=lambda x: x[2]-x[0], reverse = True))
print(sorted(data, key=lambda x: x[0]-x[2]))

[[2, 'hello world', 30], [3, 'hworl', 33], [4, 'hello wor', 31], [5, 'hello wo', 35], [6, 'hello w', 39]]
[[3, 'hworl', 33], [6, 'hello w', 39], [5, 'hello wo', 35], [4, 'hello wor', 31], [2, 'hello world', 30]]
[[2, 'hello world', 30], [4, 'hello wor', 31], [3, 'hworl', 33], [5, 'hello wo', 35], [6, 'hello w', 39]]
[[6, 'hello w', 39], [3, 'hworl', 33], [5, 'hello wo', 35], [2, 'hello world', 30], [4, 'hello wor', 31]]
[[6, 'hello w', 39], [3, 'hworl', 33], [5, 'hello wo', 35], [2, 'hello world', 30], [4, 'hello wor', 31]]

In [ ]:
data = [
    [2, 'hello world', 30],
    [6, 'hello w', 39],
    [3, 'hworl', 33],
    [5, 'hello wo', 35],
    [4, 'hello wor', 31]
    ]
print(list(map(lambda x: x, data)))
data[1]

[[2, 'hello world', 30], [6, 'hello w', 39], [3, 'hworl', 33], [5, 'hello wo', 35], [4, 'hello wor', 31]]

[6, 'hello w', 39]