In [ ]:
# 문제링크: https://school.programmers.co.kr/learn/courses/30/lessons/120956
# 머쓱이는 태어난 지 6개월 된 조카를 돌보고 있습니다.
# 조카는 아직 "aya", "ye", "woo", "ma" 네 가지 발음을 최대 한 번씩 사용해 조합한(이어 붙인) 발음밖에 하지 못합니다.
# 문자열 배열 babbling이 매개변수로 주어질 때, 머쓱이의 조카가 발음할 수 있는 단어의 개수를 return하도록 solution 함수를 완성해주세요.

In [ ]:
from itertools import permutations
def solution(babbling):
    answer = 0
    talk = []
    data = ["aya", "ye", "woo", "ma"]
    for n in range(1, 5):
        s = list(permutations(data, n))
        for n in range(len(s)):
            talk.append("".join(s[n]))
    for i in range(len(babbling)):
        babbling[i] = babbling[i].lower()
    for i in range(len(talk)):
        if talk[i] in babbling:
            answer += babbling.count(talk[i])
    return answer

solution(["ayaye", "uuuma", "ye", "yemawoo", "ayaa"])

3

In [ ]:
import re

def solution(babbling):
    count = 0
    p = ["aya", "ye", "woo", "ma"]
    for i in babbling:
        print('------------')
        print(i)
        for pattern in p:
            i = re.sub(pattern, ' ', i)
            print(i)
        if i.replace(' ', '') == '':
            count += 1
    return count

solution(["ayaye", "uuuma", "ye", "yemawoo", "ayaa"])

In [ ]:
# 문제링킈: https://school.programmers.co.kr/learn/courses/30/lessons/120835
# 외과의사 머쓱이는 응급실에 온 환자의 응급도를 기준으로 진료 순서를 정하려고 합니다.
# 정수 배열 emergency가 매개변수로 주어질 때 응급도가 높은 순서대로 진료 순서를 정한 배열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(emergency):
    answer = []
    order = sorted(emergency, reverse = True)
    for i in emergency:
        answer.append(order.index(i)+1)
    return answer

solution([3, 76, 24])

[76, 24, 3]

[3, 1, 2]

In [ ]:
def solution(emergency):
    응급순서 = sorted(emergency, reverse=True)
    return [응급순서.index(응급도) + 1 for 응급도 in emergency]

In [ ]:
# 문제1: 주어진 리스트 data = [{"name": "길동", "수학": 3, , "과학": 93}, {"name": "춘향", "수학": 33, "수학": 11}, {"name": "철수", "수학": 94, "과학": 67}]에서
# 평균점수가 가장 높은 학생에 이름을 출력하세요.
data = [{"name": "길동", "수학": 3,  "과학": 93}, {"name": "춘향", "수학": 33, "과학": 11}, {"name": "철수", "수학": 94, "과학": 67}]

avg = list(map(lambda x: sum(list(x.values())[1:])/2, data))

result = data[avg.index(max(avg))].get('name')
print(data[avg.index(max(avg))])
result

In [ ]:
# 문제1: 주어진 리스트 data = [{"name": "길동", "수학": 3, , "과학": 93}, {"name": "춘향", "수학": 33, "수학": 11}, {"name": "철수", "수학": 94, "과학": 67}]에서
# 평균점수가 가장 높은 학생에 이름을 출력하세요.
data = [{"name": "길동", "수학": 3,  "과학": 93}, {"name": "춘향", "수학": 33, "과학": 11}, {"name": "철수", "수학": 94, "과학": 67}]
max_p = max(data, key=lambda x: x["수학"] + x["과학"])
print(max_p)
print(max_p["name"])

In [ ]:
# 문제2: 주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의 모든 값을 5점씩 증가시키고 결과를 출력하세요.
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
d = dict(grades)
d.update({'Tom': d.get('Tom', 0) + 5})
d.update({'Jerry': d.get('Jerry', 0) + 5})
d.update({'Mickey': d.get('Mickey', 0) + 5})
d

In [ ]:
# 문제2: 주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의 모든 값을 5점씩 증가시키고 결과를 출력하세요.
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
# grades.update({'Tom': grades.get('Tom', 0) + 5})
# grades.update({'Jerry': grades.get('Jerry', 0) + 5})
# grades.update({'Mickey': grades.get('Mickey', 0) + 5})
updated_grades = {name: score + 5 for name, score in grades.items()}
print(updated_grades)

In [ ]:
# 문제3: 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서
# 가장 자주 등장하는 단어를 출력하세요.
s = "apple banana apple cherry banana cherry apple"
words = s.split()
print(words)
s = max(words, key = words.count )
print(s)
# s = max(s, key = s.count)

In [ ]:
# 문제3: 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서
# 가장 자주 등장하는 단어를 출력하세요.
s = "apple banana apple cherry banana cherry apple"
s.split()

In [ ]:
# 문제3: 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서
# 가장 자주 등장하는 단어를 출력하세요.
from collections import Counter

s = "apple banana apple cherry banana cherry apple"
Counter(s.split())

In [ ]:
# 문제3: 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서
# 가장 자주 등장하는 단어를 출력하세요.
s = "apple banana apple cherry banana cherry apple"
words = s.split()
most_frequent_word = max(set(words), key=words.count)
print(most_frequent_word)

In [ ]:
# 아래 기본 data를 기반으로 문제를 풀어주세요.
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "gender": "남성",
    "age": "31"
  }
]
# 문제 1 gender, age값을 추출해보세요. 아래 양식처럼 추출하시면 됩니다. 가능하면 map을 사용해주세요.
'''
 [
  {
    "gender": "여성",
    "age": "43"
  },
  {
    "gender": "남성",
    "age": "22"
  },
  {
    "gender": "남성",
    "age": "31"
  }
]
'''

# 문제 2 User라는 class를 만들어 해당 데이터를 관리해주세요. 아래처럼 저장되어야 합니다.
# 다만 꼭 변수 이름이 user_1...user_n 일 필요는 없습니다.
# 저장양식: '[user_1, user_2, user_3]'

# 문제 3 BankAccount 클래스를 생성하세요. 이 클래스는 owner(계좌주 이름), balance(잔액) 속성을 가져야 합니다.
# 이 클래스는 deposit(amount) (입금) 및 withdraw(amount) (출금) 메서드를 가져야 합니다.
# 단, 출금 시 잔액보다 큰 금액을 출금하려고 하면 "잔액 부족" 메시지를 출력해야 합니다.

In [ ]:
# 문제 1
# info = list(map(lambda x: {x['gender'],x['age']}, data))
info = list(map(lambda x: {"gender":x['gender'],"age":x['age']}, data))
info

In [ ]:
# 문제 2
# 우리 수업인 Django에서 사용되고
# 곧 나올 크롤링 같은 곳에서도 많이 사용됩니다
#
# 1. 속도: 기본자료형보다 훨씬 빠릅니다.
# 2. 메서드 구현: User클래스를 가지고 20 ~ 30, 30~ 40, 40 ~ 50대 별 타겟팅 광고
class User:

    def __init__(self, data):
        self._id = data['_id']
        self.index = data['index']
        self.name = data['name']
        self.gender = data['gender']
        self.age = data['age']

user_1 = User(data[0])
user_2 = User(data[1])
user_3 = User(data[2])
userlist = [user_1, user_2, user_3]
userlist[0].name

In [1]:
s = 'hello'

for i in s:
    print(i)
    s += '!'
    print(s)

h
hello!
e
hello!!
l
hello!!!
l
hello!!!!
o
hello!!!!!

In [3]:
# dictionary changed size during iteration 에러

# s = {'one': '1'}

# for i in s:
#     temp = s['one'] + '!'
#     s[temp] = 100

RuntimeError: ignored

In [6]:
a= [[1,2,3],
    [11,22,33],[13, 2000,300000]]
print(a[1][1])

22

In [7]:
a = [1,2,3]
b = a
a.append(4)

print(a, b)

[1, 2, 3, 4] [1, 2, 3, 4]

In [12]:
l_l = ['py', 'java','js','rb']
for i in range(len(l_l)):
    l = l_l[i]
    print(f'{i+1}등 {l}')

1등 py
2등 java
3등 js
4등 rb

In [3]:
l_l = ['py', 'java','js','rb']
for i, l in enumerate(l_l):
    print(f'{i+1}등 {l}')

1등 py
2등 java
3등 js
4등 rb

In [11]:
class Fish():

    def __init__(self, weight):
        self.weight = weight
        print(self.weight)

    @classmethod
    def weight_avg(cls, *args):
        sum = 0
        for i in args:
            sum += i
        return f'물고기 평균 무게:{sum/len(args): .2f}kg'


a = Fish(2.5)
a.weight_avg(2.5, 3.1, 1.7, 2.8, 2.4)

2.5

'물고기 평균 무게: 2.50kg'

In [33]:
def get_first_letters(s):
    l = s.split(' ')
    result = ''
    for i in range(len(l)):
        result += l[i][0]
    return result

print(get_first_letters("Hello World! I Love Python"))
print(get_first_letters("이스트소프트 오르미 1기 여러분 반가워요!"))
print(get_first_letters("복잡한 세상 편하게 살자"))

HWILP
이오1여반
복세편살

In [11]:
def common_elements(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    result = list(set1 & set2)
    return result

print(common_elements([1,2,3,4,5], [4,5,6,7,8]))
print(common_elements(['est', 'weniv', 'ormi'], ['licat', 'ormi']))
print(common_elements([1,2,3], [4,5,6]))

[4, 5]
['ormi']
[]

In [85]:
list1 = ["피카츄",'라이츄','파이리','꼬부기','버터플','엔젤몬','아구몬','또가스']
list2 = ['아구몬','파닥몬','에테몬','팔몬','엔젤몬','피카츄','라이츄','파이리']

[x for i in list1 for x in list2 if i in x]

['피카츄', '라이츄', '파이리', '엔젤몬', '아구몬']

In [32]:
def find_longest_word(list1):
    result = ''
    for i in range(len(list1)):
        try:
            for x in range(len(list1[i+1])):
                if list1[i][x] == list1[i+1][x]:
                    result = list1[i][x]

        except:
            return result

    return set(result)

print(find_longest_word(['이스트소프트', '이스트', '이스트소']))
print(find_longest_word(['behind', 'hind']))
print(find_longest_word(['오르미', '오르다', '오름']))

트

오

In [44]:
def length_of_lis(nums):
    pass

nums1 = [1, 2, 3, 4, 5]
print(length_of_lis(nums1))

nums2 = [5, 4, 3, 2, 1]
print(length_of_lis(nums2))

nums3 = [10, 9, 2, 5, 3, 7, 101, 18]
print(length_of_lis(nums3))

nums4 = [4, 5, 2, 3, 1, 2]
print(length_of_lis(nums4))

NameError: ignored

In [46]:
def solution(arr):
    n = len(arr)
    result = []

    for k in range(0,n-1):
        count = 0
        temp = float('-inf')
        for i in range(k, n):
            if arr[i] > temp:
                temp = arr[i]
                count += 1
        result.append(count)

    return max(result)

nums1 = [1, 2, 3, 4, 5]
print(solution(nums1))

nums2 = [5, 4, 3, 2, 1]
print(solution(nums2))

nums3 = [10, 9, 2, 5, 3, 7, 101, 18]
print(solution(nums3))

nums4 = [4, 5, 2, 3, 1, 2]
print(solution(nums4))

5
1
4
2